$font: "Roboto", "Arial", sans-serif;
$font-title: "Open Sans", "Arial", sans-serif;
$mobile-width: 320px;
$mobile-max-width: 767px;
$tablet-width: 768px;
$tablet-max-width: 1023px;
$desktop-width: 1024px;
$desktop-container-width: 1220px;
$desktop-max-width: 1365px;
$white: #ffffff;
$black: #000000;
$light-black: #1d1613;
$gray: #9b9997;
$lignt-gray: #F2F2F2;
$blue: #42C8F2;
$brown: #a87b62;
$light-brown: #f0eae4;
$shadow: rgba(0, 0, 0, 0.2);
$gradient: linear-gradient(#42C8F2, #5799F7);
$gradient-gorizontal: linear-gradient(30deg, #42C8F2, #5799F7);
$gradient-reverse: linear-gradient(30deg, #5799F7, #42C8F2);