.container {
  width: $desktop-container-width;
  margin: auto;

  @media (max-width: $desktop-container-width) {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (max-width: $tablet-max-width) {
    padding-left: 22px;
    padding-right: 22px;
  }

  @media (max-width: $mobile-max-width) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
