.filter {
  width: 250px;
  margin-right: 50px;
  box-sizing: border-box;
  position: relative;

  @media (max-width: $tablet-max-width) {
    width: 55.1%;
  }

  @media (max-width: $mobile-max-width) {
    width: 85%;
    margin: auto;
  }
}

.filter__form {
  width: 250px;

  @media (max-width: $tablet-max-width) {
    width: auto;
  }
}

.filter--open {
  display: block;
}

.filter--close {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.filter label {
  padding: 0;
  display: block;
  color: $light-black;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;

  @media (max-width: $tablet-max-width) {
    line-height: 23px;
  }
}

.filter__header {
  background: $white;
  border: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  padding: 0;
  margin-bottom: 22px;

  &:hover,
  &:focus {
    color: $brown;
    cursor: pointer;
  }

  @media (max-width: $tablet-max-width) {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 23px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 23px;
  }
}

.filter__header--closed svg {
  position: relative;
  right: -5px;
  top: 1px;
}

.filter__header svg {
  fill: none;
  margin-top: 2px;
  padding-left: 4px;
  color: $brown;

  @media (max-width: $tablet-max-width) {
    margin: 0;
    padding: 0;
    width: 23px;
    height: 19px;
  }
}

.filter__field {
  width: auto;
  border: none;
  border-bottom: 1.1px solid $brown;
  margin: 0;
  padding: 25px 23px 15px 25px;
  position: relative;

  @media (max-width: $tablet-max-width) {
    padding: 37px 39px 21px 23px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 23px 20px 10px 23px;
  }
}

.filter__field--price {
  padding-bottom: 3px;
}

.filter__field--closed {
  padding: 24px 25px 0 25px;
  margin-bottom: -1px;

  @media (max-width: $tablet-max-width) {
    padding: 37px 39px 8px 22px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 24px 20px 1px 21px;
  }
}

.filter__field--closed label {
  display: none;
}

.filter__field--closed svg {
  transform: rotate(180deg);
}

.filter__field--closed div {
  display: none;
}

.filter__field label {
  position: relative;
  margin-left: 18px;
  margin-bottom: 12px;
  width: max-content;

  &:focus-within,
  &:hover {
    cursor: pointer;
    opacity: 0.7;
  }

  @media (max-width: $tablet-max-width) {
    margin-bottom: 15px;
  }
}

.filter__item input {
  opacity: 0;
  margin: 0;
}

.filter__item span::before {
  content: "";
  display: block;
  width: 15px;
  height: 15px;
  background: $white;
  border: 1px solid $brown;
  position: absolute;
  left: -9px;
  top: 1px;

  @media (max-width: $tablet-max-width) {
    width: 18px;
    height: 18px;
    left: -10px;
    top: 2px;
  }
}

.filter__item input:checked + span::before {
  background-color: $brown;
}

.filter__reset {
  margin-top: 25px;
  display: block;
}

.filter__reset,
.filter__apply {
  width: 100%;
  padding-top: 25px;
  padding-bottom: 22px;
  box-sizing: border-box;
  text-align: center;
  font-family: $font;
  font-size: 16px;
  line-height: 21px;
  border: 1px solid $brown;
  background: none;
  margin-top: 0;
  margin-bottom: 25px;

  &:hover,
  &:focus {
    cursor: pointer;
    opacity: 0.7;
  }

  @media (max-width: $tablet-max-width) {
    width: 85%;
    margin-left: 21px;
  }

  @media (max-width: $mobile-max-width) {
    width: 84%;
    margin: 0 auto 20px auto;
  }
}

.filter__apply {
  border: none;
  background-color: $brown;
  display: block;
  color: $white;
}

.filter__fieldset-wrapper {
  border: 1px solid $brown;
  border-bottom: none;
  margin-bottom: 33px;

  @media (max-width: $tablet-max-width) {
    border: none;
    box-shadow: 0 5px 32px $shadow;
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 30px;
  }
}

.filter__show-button {
  display: none;
}

.filter__range {
  margin-top: -6px;

  @media (max-width: $tablet-max-width) {
    margin-top: auto;
  }
}

.filter__price {
  display: flex;
  justify-content: space-between;
  width: 160px;
  margin-top: 21px;
  margin-bottom: 2px;
  position: relative;
  left: 21px;

  @media (max-width: $tablet-max-width) {
    width: 235px;
    margin-top: 23px;
    margin-bottom: 12px;
    left: 26px;
  }

  @media (max-width: $mobile-max-width) {
    margin-top: 20px;
    width: 194px;
    left: 3px;
    margin-bottom: 3px;
  }
}

.filter__min-price input,
.filter__max-price input {
  width: 30px;
  border: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  margin: 0;

  @media (max-width: $tablet-max-width) {
    font-size: 16px;
    line-height: 21px;
  }
}

.filter__price input[type="number"]::-webkit-outer-spin-button,
.filter__price input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.filter__price input[type="number"] {
  appearance: textfield;
}

.filter__scale {
  width: 200px;
  height: 1px;
  background-color: $light-brown;
  position: relative;
  top: 8px;
  left: 0;

  @media (max-width: $tablet-max-width) {
    width: 304px;
    left: 10px;
  }

  @media (max-width: $mobile-max-width) {
    width: 230px;
    left: 0;
  }
}

.filter__bar {
  width: 90px;
  height: 1px;
  background-color: $brown;
  position: absolute;
  left: 59px;

  @media (max-width: $tablet-max-width) {
    width: 178px;
  }

  @media (max-width: $mobile-max-width) {
    width: 120px;
    left: 47px;
  }
}

.filter__toggle-min,
.filter__toggle-max {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $brown;
  position: absolute;

  @media (max-width: $tablet-max-width) {
    width: 18px;
    height: 18px;
  }
}

.filter__toggle-min {
  top: 0;
  left: 44px;

  @media (max-width: $tablet-max-width) {
    left: 53px;
  }

  @media (max-width: $mobile-max-width) {
    left: 28px;
  }
}

.filter__toggle-max {
  top: 0;
  left: 149px;

  @media (max-width: $tablet-max-width) {
    left: 230px;
  }

  @media (max-width: $mobile-max-width) {
    left: 167px;
  }
}

.filter__controls {
  position: relative;

  @media (max-width: $tablet-max-width) {
    margin-top: 23px;
  }

  @media (max-width: $mobile-max-width) {
    margin-top: 29px;
  }
}

.filter__close-button {
  display: none;

  @media (max-width: $tablet-max-width) {
    display: block;
    width: 32px;
    height: 32px;
    border: none;
    background-color: $light-black;
    border-radius: 50%;
    position: absolute;
    top: -14px;
    right: -15px;
    z-index: 100;

    &::before,
    &::after {
      content: "";
      display: block;
      background: $white;
      width: 20px;
      height: 2px;
      position: absolute;
      top: 15px;
      left: 6px;
    }

    &::before {
      transform: rotate(135deg);
    }

    &::after {
      transform: rotate(45deg);
    }

    &:hover,
    &:focus {
      background-color: $gray;
    }
  }

  @media (max-width: $mobile-max-width) {
    top: -20px;
    right: -8px;
  }
}

.filter--modal {
  background: $white;
  margin-top: 25px;
  padding-bottom: 15px;

  @media (max-width: $tablet-max-width) {
    margin: 25px auto 50px auto;
  }

  @media (max-width: $mobile-max-width) {
    padding-bottom: 8px;
  }
}

.filter--desk {
  @media (max-width: $tablet-max-width) {
    display: none;
  }
}
