.page-footer {
  background-color: $lignt-gray;
  flex: 0 0 auto;
}

.page-footer__title {
  font-family: $font-title;
  font-size: 62px;
  font-weight: 600;
}

.social__list {
  @include clear-list;
  line-height: 21px;
  margin-left: -10px;
  margin-top: 15px;
  letter-spacing: 0.2px;
  display: flex;
}

.social__item {
  &:hover {
    opacity: 0.5;
  }
}

.social__item:not(:last-of-type) {
  margin-right: 35px;
}

.contacts__list {
  @include clear-list;
  font-family: $font-title;
  color: $black;
  font-weight: 600;
  font-size: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.contacts__item {
  margin-bottom: 50px;
  position: relative;
}

.contacts__item a {
  color: $black;
  padding-left: 60px; 

  &:hover {
    color: $blue;
  }

  &:active {
    opacity: 0.5;
  }
}

.contacts__item--tel {
  &::before {
    content: "";
    width: 46px;
    height: 46px;
    position: absolute;
    top: -9px;
    background-image: url("../img/tel.png");
    background-repeat: no-repeat;
  }
}

.contacts__item--mail {
  &::before {
    content: "";
    width: 46px;
    height: 46px;
    position: absolute;
    top: -9px;
    background-image: url("../img/mail.png");
    background-position: 0 -10px;
    background-repeat: no-repeat;
  }
}

.contacts__item--address {
  &::before {
    content: "";
    width: 46px;
    height: 46px;
    position: absolute;
    top: -9px;
    background-image: url("../img/address.png");
    background-repeat: no-repeat;
  }
}